body{
margin: 0;
/* To make it consume full width/to cut the edges  */
/* overflow: hidden; */
font-family: Roboto, sans-serif;
/* background-color: #006C9D; */
}
div,h2,p{
    margin: 0;
}
a
{
    color: white;
    text-decoration: none;
    /* Underline hata di */
}
nav
{
    z-index: 3;
    position: fixed;
    /* border: solid black 1px; */
    background-color:#028BC9;
    width: 100vw;
}
#navcon
{
    display: flex;
    width: auto;
    height: 50px;
    color: white;
    font-size: 22px;
    /* padding: 7px 60px 7px 60px; */
}
.nav-item
{
   
    position: relative;
    left: 50px;
    /* border: solid green 1px; */
    font-size: 18px;
    height: 50px;
}
.nav-item img
{
height: 40px;
}
#logo
{
    width: 50%;
    padding-top: 5px;
}
#menu
{
    width: 50%;
}


.nav-item ul
{
    display: flex;
    list-style: none;
    width: 100%;
    /* To remove the dots from the unordered list */

}

.menu-item
{
    width: 17%;
}
@media(max-width:1400px)
{
    .menu-item{
        font-size: 15px;
    }
}
.container
{
    width: 100vw;
    /* padding: 60px; */
    display: flex;
    background-color: #0098DA;
}
#topcontainer{
    padding-top:100px;
}
#lorem{
    display: flex;
    font-size: 22px;
    font-weight: medium;
    padding-top: 20px;

}
#lorem p{
    padding: 10px;
    
}
.block
{

    padding-bottom: 0;
    /* border: solid green 1px; */
    width: 45%;
    color: white;
}


#imgg{
    display: block;
    margin-left: auto;
  margin-right: auto;
}
#upper
{
    padding: 120px;
    padding-left: 120px;
    font-size: 22px;
  
}
#upper h2{
    font-weight: bold;
    font-size: 44px;
}
#supportIcon
{
    width: 10%;
}
.support-outer
{
    
background-color:rgba(red, green, blue, alpha);
    width: 83px;
height: 83.5px;
padding: 1px; 
position: fixed;
/* left: 5px; */
top: 69.3%;
left: 89.68%;
border: solid rgba(0, 0,0, .5) .5px;
border-radius: 50%;
}
#supportIcon img
{
    /* outline: solid #FFD940; */
    border: solid white 5px;
    padding:8px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    top: 70%;
    left:90%; 
    
}
.down-arrow
{
    /* border: solid black 1px; */
    float: right ;
    width: 65px;
    height: 50px;
    position: absolute;
    top: 740px;
    right: 50%;
}

.container-2{
    /* display: block; */
    /* padding: 93px; */
    padding-top: 93px;
    /* padding-left: 50px;
    padding-right: 50px; */
    background-color: #006C9D;
    height: 100vh;
    border: solid black 1px;
    /* overflow: hidden; */
    width: 100vw;
}

.container-2 h1{
    position: relative;
    top: 50px;
    font-size: 44px;
}


.container-2 h2{
    position: relative;
    top: 55px;
    font-size: 30px;
}
.headings-container2{
    text-align: center;
}
.cards{
    position: relative;
    top: 8%;
    width: 68%;
    display: flex;
     
    height: 57.86%;
    /* border: solid black 1px; */
    margin: auto;
}
.card{
    position: relative;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    /* padding: 25px 10px 25px 10px;  */
    height: 100%;
    width: 25%;
    background-color: white;
}

.card p{
    margin-left:auto ;
    margin-right: auto;
    width: 90%;
    height: 40%;
    color: #0098DA;
    position: relative;
    top: 10%;
    font-size: 22px;
}
.card h4{
    position: relative;
    top: 10%;
    font-size: 22px;
    font-weight: bold;
}
.card img{
    position: relative;
    top: 55px;

    height: 30%;
    width: 50%;
}
.card h3{
    /* border: solid black 1px; */
    color:#006C9D; 
    font-weight: 700;
    position: relative;
    top:-10%;
}

.headings-container2 h2
{
color: #FFD940;
}
.headings-container2 h1
{
    color: white;
}
#dollar
{
    position: absolute;
    top: -5%;
    right: 10%;
    width: 18%;
    height: 10%;
    z-index: 2;
    border-radius: 50%;
    background-color:white;
    transform: rotate(-20deg);
}
.container-3{
    width: 100vw;
    background-color:white ;
    display: block;
    
    border: solid black 1px;

}

.heading_container3{
   padding-top: 50px;
    /* border: solid black 1px; */
    display: flex;
    margin: auto;
    align-items: center;
}
.heading_container3 div p{
    /* border: solid green 1px; */
    display: block;
    font-size: 30px;
    float: right;
}
.heading_container3 div{
    width: 50%;
    /* border: solid green 1px; */
    display: block;
}
#para p{
    font-weight: 700;
    font-size: 44px;
    position: relative;
    right: 70%;
    padding-left: 40px;
}
#broadband img{
    position: relative;
    left: 75%;
}
.form{
    padding: 40px;
    overflow: hidden;
}
.form h2{
padding-left: 70px;
}
.row{
    display: flex;
    /* border: solid black 1px; */
    padding: 20px;
    margin: 8px;
    margin-right: 16px;
    width: 60%;
    /* overflow: hidden; */
}
.row input{
    font-size: 20px;
    width: 40%;
    padding: 8px;
    margin-left: 50px;
    float: left;
}
#message{
    margin: 0;
    padding: 12px 20px;
    font-size: 20px;
    margin-left: 50px;
}
.Sending
{
    border-radius: 5px;
    background-color:#0098DA ;
    color: white;
    border: none;
    text-align: center;
    width: 250px;
    height: 50px;
}

#Send-a-message
{
    font-size: 22px;
}

/* =================TOGGLE BUTTON INCLUDED=============== */
.switch {
    left: 152px;
    /* border: solid black 2px; */
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .form span
  {
    /* border: solid black 1px; */
  }
  .toggleBTN
  {
      color: black;
      position: relative;
      left: 15px;
      display: flex;
    /* border: solid black 1px; */
  }
  #id1
  {
      margin-top: 4px;
      position: relative;
      left: 145px;
  }


  #id2
  {
      margin-top: 4px;
    position: relative;
    left: 160px;
  }
 
.row
{
    padding-left: 110px;
}
#Send-a-message
{
    
    padding-left: 86px;
}

 /* =====================CHOOSE PLAN==================================== */

.container4-image
{
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
    /* width: 2440px; */
    background-image: url("/images/plan_bg.png");
    background-color:rgb(16, 61, 77);
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover; 
    /* padding:10%; */
    /* opacity:.32 ; */
    
    }
    .container4-text{
        text-align: center;
        width: 47.37%;
        position: relative;
        left: 25%;
        padding-top: 60px;
    }
    .container4-text h1 {
font-size: 44px;
    }
    .Send-Message
    {
      padding-left: 160px;
    
    }

  .Cards4-Container{
      position: relative;
width: 47.36%;
height: 60%;
display:flex;
/* border: solid white 1px; */
/* background-color: tomato; */
left: 25%;
perspective: 600px;


  }

  .Card4{
    
      width: 43.95%;
      position: relative;
      text-align: center;
      border-radius: 5px;
      margin: 10px;
      padding: 25px 10px 25px 10px; 
      color: black;
      height: 80%; 
      background-color: white;
      overflow: hidden;
  }

  .Getting
  {
    border-radius: 5px;
    background-color:#0098DA ;
    color: white;
    border: none;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
  }

  .Card4 p {
      position: relative;
      top: 15%;
    margin-left:auto ;
    margin-right: auto;
    width: 80%;
    font-size: 16px;
    color: darkgrey;
    padding: 5px;
   
  }

  .Card4 h4 {
   margin:0;
   margin-top: 15px;
    font-size: 30px;
    color:black;
  }

  /*  ----------------i-------Button-------------- */

  #circle
  {
      background-color: gold;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      float: right;
      position: relative;
      top:50px;
      left: 25px;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
  }
  #circle span{
      position: relative;
      top: 15px;
  }
  #circle2
  {
    background-color: gold;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    top:10px;
    left:25px;
    text-align: center;
    font-weight: bold;
    font-size: 30px; 
  }
  #circle2 span{
    position: relative;
    top: 10px;
  }
  #Card1
  {
      margin-right: 20px;
   transform: skewY(8deg);
    
  }

  .Anti1
  {
      transform: skewY(-8deg);
  }

  #Card2
  {
      margin-left: 20px;
      transform: skewY(-8deg);
  }

  .Anti2{
    transform: skewY(8deg);
  }

  /* --------------------------Our Promises-------------------- */

  .Promises
  {
      display: flex;
      width: 70%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
  }

  .Promises-part
  {
      padding: 20px 20px 20px 20px;
      text-align: center;
      width: 33.33333%;
      margin-right: 10px;
      margin-left: 10px;
  }
  .Promises-part img {
height: 150px;
  }
  #Promises-head
  {
    
      text-align: center;
      margin: 20px;
      margin-top: 50px;
     
      font-size: 44px;
      width: 100vw;
  }

  /* -------------------------------Clients Section---------------------------- */

  .Clients-head h1
  {
      z-index: 0;
      background-color:#0098DA;
      margin: 0;
      text-align: center;
      color: white;
      position: relative;
      top: 100px;
  }
  .Client-Container
  {
    background-color: #0098DA;
    height: 670px;
    width: 100vw;
    /* border: solid black 1px; */
    display: flex;
  }
  .Clients
  {
    width: 80%;
position: relative;
top: 200px;
height: 70%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      /* border: solid black 1px; */

  }
  .Clients-part
  {
      text-align: center;
      /* border: solid black 1px; */
      width:500px ;
      height: 300px;
      border-radius: 5px;
      background-color: white;
      margin: 10px;
      color: #0098DA;
      padding: 20px;
  }
  .arrow
  {
      width:10%;
      position: relative;
      top:50%;
      left:64px;

  }
  .Clients-part span
  {
      margin: 5px;
      padding: 10px;
      margin-bottom: 30px;
      /* margin: 5px; */
      /* padding:10px; */
  }

  /* -----------------------FOOTER------------------- */

  footer{
      height: 306px;
      width: 100vw;
      background-color: #006C9D;
      display: flex;
      z-index: 4;
  }
  .foot-1
  {
      width: 50%;
      display: flex;
    justify-content: space-between;
  }
  #location
  {
      margin-left: 100px;
      margin-right: 50px;
      width:16%;
      margin-top: 30px;
  }
  #location p {
      height: 50px;
  }
  #Email
  {
    margin-top: 30px;
      width: 16%;
      margin-right: 100px;
  }
  #Phone
  {
    margin-top: 30px;
      margin-left: 50px;
      width: 16%;
  }
  .foot-2
  {
      /* border: solid black 1px; */
      width: 50%;
      text-align: end;
  }

  .foot-2 img {
margin: 20px;
/* width: 20px; */
/* height: 40px; */
  }