body{
margin: 0;
/* To make it consume full width/to cut the edges  */

font-family: Roboto, sans-serif;
/* background-color: #006C9D; */
}
div,h2,p{
    margin: 0;
}
a
{
    color: white;
    text-decoration: none;
    /* Underline hata di */
}
nav
{
    position: fixed;
    /* border: solid black 1px; */
    background-color:#028BC9;
    width: 100%;
}
#navcon
{
    display: flex;
    width: auto;
    height: 50px;
    color: white;
    font-size: 22px;
    padding: 7px 60px 7px 60px;
}
.nav-item
{
    /* border: solid green 1px; */
    font-size: 18px;
    height: 50px;
}
#logo
{
    width: 50%;
    padding-top: 5px;
}
#menu
{
    width: 50%;
}


.nav-item ul
{
    display: flex;
    list-style: none;
    width: 100%;
    /* To remove the dots from the unordered list */

}

.menu-item
{
    width: 17%;
}
@media(max-width:1400px)
{
    .menu-item{
        font-size: 15px;
    }
}
.container
{
    padding: 60px;
    display: flex;
    background-color: #0098DA;
}
#topcontainer{
    padding-top:100px;
}
#lorem{
    display: flex;
    font-size: 22px;
    font-weight: medium;
    padding-top: 20px;

}
#lorem p{
    padding: 10px;
    
}
.block
{

    padding-bottom: 0;
    /* border: solid green 1px; */
    width: 45%;
    color: white;
}


#imgg{
    display: block;
    margin-left: auto;
  margin-right: auto;
}
#upper
{
    padding: 120px;
    padding-left: 120px;
    font-size: 22px;
  
}
#upper h2{
    font-weight: bold;
    font-size: 44px;
}
#supportIcon
{
    width: 10%;
}
#supportIcon img
{
    
    border: solid white 5px;
    padding:8px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    top: 70%;
 outline: solid black;
 
    
}


.container-2{
    display: block;
    /* padding: 93px; */
    padding-top: 93px;
    background-color: #006C9D;
    height: 100vh;
}
.headings-container2{
    text-align: center;
}
.cards{
    width: 68.125%;
    display: flex;
    border: solid black 1px;
    margin: auto;
}
.card{
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 25px 10px 25px 10px; 
    width: 25%; 
    height: 57.86%; 
    background-color: white;
}
.card p{
    margin-left:auto ;
    margin-right: auto;
    width: 80%;
}
.headings-container2 h2
{
color: #FFD940;
}
.headings-container2 h1
{
    color: white;
}
#dollar
{
    position: absolute;
    top: -5%;
    right: 10%;
    width: 18%;
    height: 10%;
    z-index: 2;
    border-radius: 50%;
    background-color:white;
    transform: rotate(-20deg);
}
.container-3{
    background-color:white ;
    display: block;
    padding: 40px;

}

.heading_container3{
    border: solid black 1px;
    display: flex;
    margin: auto;
    align-items: center;
}
.heading_container3 div p{
    border: solid green 1px;
    display: block;
    font-size: 30px;
    float: right;
}
.heading_container3 div{
    width: 50%;
    border: solid green 1px;
    display: block;
}
#para p{
    float: left;
    padding-left: 40px;
}
#broadband img{
    float: right;
}
.form{
    padding: 40px;
}
.form h2{
padding-left: 70px;
}
.row{
    display: flex;
    border: solid black 1px;
    padding: 20px;
}
.row input{
    font-size: 20px;
    width: 40%;
    padding: 8px;
    margin-left: 50px;
    float: left;
}
#message{
    margin: 0;
    padding: 12px 20px;
    font-size: 20px;
    margin-left: 50px;
}
.Sending
{
    border-radius: 5px;
    background-color:#0098DA ;
    color: white;
    border: none;
    text-align: center;
    width: 250px;
    height: 35px;
}

.row
{
    padding-left: 110px;
}
#Send-a-message
{
    
    padding-left: 86px;
}

.container4-image
{
    margin: 0;
    height: 100vh;
    /* width: 2440px; */
    background-image: url("/images/plan_bg.png");
    background-color:rgb(39, 94, 112);
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover; 
    padding:10%;
    /* opacity:.32 ; */
    
    }
    .Send-Message
    {
      padding-left: 160px;
    }